
@{
    ViewBag.Title = "Monitor Ordenes De Pago En Efectivo.";
}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Monitor Ordenes De Pago En Efectivo.</h3>
            <div class="row">
                <!--Periodos De Fecha-->
                <div class="form-group col-lg-2 contenedor_parametros" id="contenedor_fecha">
                    <span class="fa fa-question inforacion_seleccion" data-descr="Seleccion De Intervalos De Fechas A partir De La Cual Se Realizara El Monitorear."></span>
                    <h4>Fechas:</h4>
                    <!--Inicio De Fecha-->
                    <div class="form-group col-lg-12">
                        <label>Inicio:</label>
                        <input type="date" id="f1" class="form-control" />
                    </div>
                    <!--Fin De Fecha-->
                    <div class="form-group col-lg-12">
                        <label>Fin:</label>
                        <input type="date" id="f2" class="form-control" />
                    </div>
                </div>
                <!--Cuenta-->
                <div class="form-group col-lg-2 contenedor_parametros" id="contenedor_cuenta">
                    <span class="fa fa-question inforacion_seleccion" data-descr="Cuenta : Indica el Filtro De Movimientos A Ser Monitoreada. Concepto: Tipo De Tranzaccion De Cuenta  ."></span>
                    <h4>Cuentas:</h4>
                    <!--Tipo Cuenta-->
                    <div class="form-group col-lg-12">
                        <label><i class="fa fa-spinner rotate" name="tipo"></i>Cuenta:</label>
                        <select id="lista_cuentas" class="form-control btn btn-default" disabled></select>
                    </div>
                    <!--Conceptos Cuenta-->
                    <div class="form-group col-lg-12">
                        <label> Conceptos:</label>
                        <select id="lista_conceptos" class="form-control btn btn-default">
                            <option value="Todos">Todos</option>
                            <option value="Compras">Compras</option>
                            <option value="Pagos">Pagos</option>
                        </select>
                    </div>
                </div>
                <!--Nombre Beneficiario-->
                <div class="form-group col-lg-6 contenedor_parametros" id="contenedor_beneficiario">
                    <span class="fa fa-question inforacion_seleccion" data-descr="Persona O Entidad A La Cual Se Le Atribuye La Orden De Pago En Efectivo Ya Sea Un Empleado O Proveedor."></span>
                    <h4>Beneficiario:</h4>
                    <!--Tipo De Beneficiario-->
                    <div class="form-group col-lg-4">
                        <label>Tipo:</label>
                        <select id="tipo_beneficiario" class="form-control">
                            <option value="0">Todos</option>
                            <option value="Empleado">Empleado.</option>
                            <option value="Proveedor">Proveedor.</option>
                        </select>
                    </div>
                    <!--Orden De Pago Beneficiario-->
                    <div class="form-group col-lg-8">
                        <label><i class="fa fa-spinner rotate" name="orden"></i>Orden De Pago:</label>
                        <select id="orden_pago" class="form-control" disabled></select>
                    </div>
                    <!--Nombre Beneficiario-->
                    <div class="form-group col-lg-12">
                        <span id="nombre_beneficiario" class="form-control col-lg-11"><span name="0" style="color:#867">Nombre Beneficiario ...</span></span>
                        <i class="btn btn-default glyphicon glyphicon-search col-lg-1" id="btn_buscar_Beneficiario"> </i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <i class="btn btn-success btn-round" id="btn_consultar"> Consultar Orden De Pago <i class="fa fa-download"></i></i>
            </div>
        </div>
        <div class="panel-body" style="height:580px">
            @* Aqui se Renderizara el contenido De La Tabla. *@
            <main id="resultados_tabla">

            </main>
        </div>
        @* Aqui Se Muestran Los Datos De Pago Por Servicio Seleccionado *@
        <div id="app-tabla_pago_por_semana">
            <div class="panel panel-default" v-if="listaDetalles.length>0">
                <div class="panel-heading">
                    <i class="close fa fa-close" v-on:click="eliminar_todo"></i>
                    <label><strong>Establecimimiento :</strong>  {{establecimimiento}}</label>
                    <br />
                    <label><strong>Compceptos De Pago :</strong>  {{concepto_pago}}</label>
                    <label style="margin-left:30px"><strong>Cantidad De Pago :</strong>  {{catidad_pago}}</label>
                    <label style="margin-left:30px"><strong>Cantidad De Servicios :</strong>  {{listaDetalles.length}}.</label>
                </div>
                <div class="panel-body">
                    <div style="overflow:auto;height:400px">
                        <tabla_detalles :detalles="listaDetalles"></tabla_detalles>
                    </div>
                </div>
            </div>
        </div>
        @* Modal Beneficiarios *@
        <div class="modal" id="modal_seleccion_beneficiarios">
            <div class="panel panel-default animate">
                <div class="panel-heading">
                    <i class="fa fa-close" id="btn_cerrar_modal_beneficiarios" style="float:right"></i>
                    <strong>Seleccion Beneficiarios.</strong>
                </div>
                <div class="panel-body">
                    <div id="container_beneficiarios" style="width:500px;">
                        <div class="panel panel-info">
                            <div class="form-group panel-heading">
                                <label>Filtro:</label>
                                <input class="form-control" type="text" placeholder="Filtro..." id="caja_filtro_beneficiario" />
                            </div>
                            <div style="height:300px;overflow:auto">
                                <table class="table">
                                    <thead>
                                        <tr class="info">
                                            <th>Folio</th>
                                            <th>Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody id="listado_beneficiarios"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <i class="btn btn-success fa fa-download btn-round" id="btn_seleccionar_modal_beneficiarios_pie"> Seleccionar.</i>
                    <i class="btn btn-danger fa fa-close btn-round" id="btn_cerrar_modal_beneficiarios_pie" style="float:right"> Cerrar.</i>
                </div>
            </div>
        </div>
    </div>
<link href="@Url.Content("~/src/styles/Indicadores/OrdenesDePagoEnEfectivo/main.css")?1.0.3" rel="stylesheet" />
<script src="@Url.Content("~/src/scripts/Indicadores/OrdenesDePagoEnEfectivo/Obtener_selectores.js")?1.0.1"></script>
<script src="@Url.Content("~/Scripts/Componentes/Estaticos/BotonToggle.js")?1.0.1"></script>
<script src="@Url.Content("~/src/scripts/Indicadores/OrdenesDePagoEnEfectivo/Obtener_beneficioarios.js")?1.0.1"></script>
<script src="@Url.Content("~/src/scripts/Indicadores/OrdenesDePagoEnEfectivo/Realizar_consulta.js")?1.0.1"></script>
<script src="@Url.Content("~/src/scripts/Indicadores/OrdenesDePagoEnEfectivo/OrdenesPago.js")?1.0.5"></script>
<script  src="@Url.Content("~/src/scripts/Indicadores/OrdenesDePagoEnEfectivo/Detallaes_pagos.js")?1.0.5"></script>

